:root {
  --background-color: #0f172a;
  --background-color-dark: #091021;
  --background-color-translucent: #0f172a70;
  --background-color-faint: #1a253d;
  --text-color: #ffffff;
  --text-color-dark: #ffffff65;
  --correct-key-color: #538d4e;
  --correct-key-color-dark: #538d4e50;
  --present-key-color: #b59f3b;
  --present-key-color-dark: #b59f3b50;
  --absent-key-color: #00000090;
  --absent-key-color-dark: #000000;
  --share-button-color: #1f3ad1;

  --tiny-gap: 0.3em;
  --small-gap: 0.5em;
  --medium-gap: 1em;
  --thick-gap: 2em;
  --extra-thick-gap: 3em;

  --app-height: 100vh;
  --alert-width: 13em;
  --alert-distance-from-top: 5em;

  --thin-border: 0.3px;
  --medium-border: 1px;
  --thick-border: 2px;

  --tiny-font-size: 0.7em;
  --standard-font-size: 1em;
  --medium-font-size: 1.2em;
  --large-font-size: 1.5em;
  --massive-font-size: 2em;

  --standard-animation-length: 1s;
  --standard-transition-length: 0.3s;
}

.appWrapper {
  font-family: 'Open Sans', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  height: var(--app-height);
  display: flex;
  justify-content: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28em;
  gap: var(--medium-gap);
  padding: var(--tiny-gap) var(--medium-gap) var(--medium-gap);
  justify-content: space-between;
  overflow-x: hidden;
}

.standardKey,
.correctKey,
.presentKey,
.absentKey {
  width: 40px;
  height: 58px;
  border: 0;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  border: solid var(--thin-border) var(--text-color);
  color: var(--text-color);
  transition: all var(--standard-transition-length) ease-in-out;
}

.standardKey:hover {
  background: var(--text-color-dark);
}

.correctKey {
  background: var(--correct-key-color);
}

.correctKey:hover {
  background: var(--correct-key-color-dark);
}

.presentKey {
  background: var(--present-key-color);
}

.presentKey:hover {
  background: var(--present-key-color-dark);
}

.absentKey {
  background: var(--absent-key-color);
  color: var(--text-color-dark);
}

.absentKey:hover {
  background: var(--absent-key-color-dark);
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: var(--tiny-gap);
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  width: 100%;
}

.gridContainer {
  width: 100%;
}

.gridSizer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.styledRow {
  display: flex;
  justify-content: center;
  gap: var(--small-gap);
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 var(--tiny-gap);
  border-bottom: solid var(--medium-border) var(--background-color-faint);
}

.helpSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6em;
}

.helpSection .hintButton {
  background: var(--background-color-dark);
  padding: var(--tiny-gap) var(--extra-thick-gap);
  color: var(--text-color);
}

.helpSection,
.statsSection {
  width: 15%;
}

.statsSection {
  display: flex;
  justify-content: space-between;
}

.headerContainer svg,
.modalHeader svg {
  cursor: pointer;
}

.squareRow {
  display: flex;
  justify-content: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader h2 {
  margin: 0 0 var(--tiny-gap);
}

.square {
  display: flex;
  transition: all var(--standard-transition-length) ease;
  align-items: center;
  justify-content: center;
  border: solid var(--thick-border) var(--text-color-dark);
  background: transparent;
  font-weight: 800;
  max-width: 3em;
  aspect-ratio: 1 / 1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeToCorrect {
  0% {
    background: initial;
  }
  100% {
    background: var(--correct-key-color);
  }
}

@keyframes fadeToPresent {
  0% {
    background: initial;
  }
  100% {
    background: var(--present-key-color);
  }
}

@keyframes fadeToAbsent {
  0% {
    background: initial;
    color: initial;
  }
  100% {
    background: var(--absent-key-color);
    color: var(--text-color-dark);
  }
}

.correct {
  animation: fadeToCorrect var(--standard-animation-length) forwards;
}

.present {
  animation: fadeToPresent var(--standard-animation-length) forwards;
}

.absent {
  animation: fadeToAbsent var(--standard-animation-length) forwards;
}

.alert {
  position: absolute;
  top: var(--alert-distance-from-top);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: var(--alert-width);
  justify-content: center;
  font-weight: 600;
}
.modal {
  background: var(--background-color-translucent);
  color: var(--text-color);
}

.modal div:nth-child(3) {
  background: var(--background-color-dark);
  max-width: 80vw;
}

.histogram {
  display: flex;
  flex-direction: column;
  gap: var(--tiny-gap);
}

.progressBarContainer {
  display: flex;
  gap: var(--tiny-gap);
}

.progressBarLabel {
  display: grid;
  place-items: center;
  width: 5%;
}

.outerProgressBar {
  width: 95%;
  text-align: right;
}

.innerProgressBar {
  background: var(--background-color-faint);
  border-radius: 10px;
  padding-right: 2.5%;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: var(--thick-gap);
}

.newWord {
  width: 50%;
  text-align: center;
  padding: var(--small-gap);
  border-right: solid var(--thin-border) var(--text-color);
}

.newWord h5 {
  font-size: var(--large-font-size);
  margin: var(--small-gap) 0;
}

.modalFooter button {
  width: 10em;
  height: 5em;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  outline: none;
  background-color: var(--share-button-color);
  color: var(--text-color);
}

.countdown {
  font-size: var(--large-font-size);
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.center {
  text-align: center;
}

.large {
  font-size: var(--medium-font-size);
}

.hintModal h3 {
  margin-bottom: 0;
}
.hintModal p {
  margin-top: 5px;
}

.tiny {
  font-size: var(--tiny-font-size);
}

@media (max-width: 768px) {
  .appContainer {
    width: 90%;
  }
  .modalFooter {
    margin-top: var(--medium-gap);
  }
  .newWord h5 {
    font-size: var(--medium-gap);
    margin: initial;
  }
  .square {
    max-width: 2em;
  }
}
