.appWrapper {
  font-family: 'Open Sans', sans-serif;
  background: #0f172a;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28em;
  gap: 1em;
  padding: 0.3em 1em 1em;
  justify-content: space-between;
  overflow-x: hidden;
}

.standardKey,
.correctKey,
.presentKey,
.absentKey {
  width: 40px;
  height: 58px;
  border: 0;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  border: solid 0.3px #ffffff;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.standardKey:hover {
  background: #ffffff50;
}

.correctKey {
  background: #538d4e;
}

.correctKey:hover {
  background: #538d4e50;
}

.presentKey {
  background: #b59f3b;
}

.presentKey:hover {
  background: #b59f3b50;
}

.absentKey {
  background: #00000090;
  color: #ffffff40;
}

.absentKey:hover {
  background: #00000050;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.gridContainer {
  width: 100%;
}

.gridSizer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.styledRow {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  --styledRowWidth: 100%;
  width: var(--styledRowWidth);
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.3em;
  border-bottom: solid 1px #00000050;
}

.helpSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6em;
}

.helpSection .hintButton {
  background: #091021;
  padding: 0.3em 3em;
}

.helpSection,
.statsSection {
  width: 15%;
}

.statsSection {
  display: flex;
  justify-content: flex-end;
}

.headerContainer svg,
.modalHeader svg {
  cursor: pointer;
}

.squareRow {
  display: flex;
  justify-content: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeader h2 {
  margin: 0 0 0.3em;
}

.square {
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  border: solid 2px #ffffff65;
  background: transparent;
  font-weight: 800;
  aspect-ratio: 1 / 1;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeToCorrect {
  0% {
    background: initial;
  }
  100% {
    background: #538d4e;
  }
}

@keyframes fadeToPresent {
  0% {
    background: initial;
  }
  100% {
    background: #b59f3b;
  }
}

@keyframes fadeToAbsent {
  0% {
    background: initial;
    color: initial;
  }
  100% {
    background: #00000090;
    color: #ffffff40;
  }
}

.correct {
  animation: fadeToCorrect 1s forwards;
}

.present {
  animation: fadeToPresent 1s forwards;
}

.absent {
  animation: fadeToAbsent 1s forwards;
}

#wafc {
  color: #91c7ff;
}

.alert {
  position: absolute;
  top: 5em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 13em;
  justify-content: center;
  font-weight: 600;
}
.modal {
  background: #0f172a40;
}

.modal div:nth-child(3) {
  max-width: 80vw;
}

.histogram {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.progressBarContainer {
  display: flex;
  gap: 0.3em;
}

.progressBarLabel {
  display: grid;
  place-items: center;
  width: 5%;
}

.outerProgressBar {
  width: 95%;
  text-align: right;
}

.innerProgressBar {
  background: #464646;
  border-radius: 10px;
  padding-right: 2.5%;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: 2.5em;
}

.newWord {
  width: 50%;
  text-align: center;
  padding: 0.5em;
  border-right: solid 0.3px #ffffff;
}

.newWord h5 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.modalFooter button {
  width: 10em;
  height: 5em;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  outline: none;
  background-color: rgb(31, 58, 209);
  color: #ffffff;
}

.countdown {
  font-size: 1.5em;
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.center {
  text-align: center;
}

.large {
  font-size: 1.2em;
}

.hintModal h3 {
  margin-bottom: 0;
}
.hintModal p {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .appContainer {
    width: 90%;
  }
  .modalFooter {
    margin-top: 1em;
  }
  .newWord h5 {
    font-size: 1em;
    margin: initial;
  }
}
